.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.fas
{
    font-size: 12px;
}

.title-headers{
  display: flex;
  justify-content: space-evenly;
}

#iconSup{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}